@font-face {
  font-family: "BlockLetter";
  src: url("../fonts/blockletter.otf"); }
@font-face {
  font-family: "Trump";
  src: url("../fonts/trump_gothic_west.ttf"); }
body {
  font-family: 'Roboto', sans-serif; }

.clear {
  clear: both; }

a {
  color: #444;
  text-decoration: none; }

.fondoLogin {
  background-image: url("../img/login.jpg");
  background-size: cover;
  background-position: center;
  height: 100vw;
  position: relative; }

.blur {
  background-color: black;
  opacity: .4;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 9999999;
  display: none; }

.pagination {
  text-align: center;
  margin-top: 40px; }
  .pagination li {
    display: inline-block;
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 1000px;
    width: 40px;
    height: 40px;
    line-height: 40px; }
  .pagination li:hover {
    border-color: #0088e8; }
  .pagination .active {
    background-color: #0088e8;
    color: white;
    border-color: #0088e8; }

.ofertProductSquare {
  background-color: green;
  color: white;
  font-size: 8px;
  padding: 2px 5px 2px 5px;
  box-sizing: border-box;
  vertical-align: top;
  position: relative;
  top: 4.5px; }

.ofertProductTextColor {
  color: green; }

.rojo {
  color: #f21439 !important; }

header {
  position: relative;
  z-index: 99999999;
  border-bottom: 1px solid #eee;
  background-color: white;
  background-image: url("../img/header/header-bg.jpg");
  background-size: cover;
  background-position: center; }
  header #top-bar {
    background-color: #F1592A;
    height: 20px; }
  header #header-align {
    max-width: 1300px;
    margin: 0 auto; }
  @media screen and (max-width: 1250px) {
    header #header-align {
      width: 90%; } }
  header nav {
    height: 95px; }
    header nav .logo-header {
      height: 60px;
      margin: 17px 0px 0px 0px;
      float: left; }
    header nav .menu-no-responsive {
      float: left;
      line-height: 95px;
      margin-left: 100px;
      font-family: "BlockLetter"; }
      header nav .menu-no-responsive li {
        display: inline-block;
        color: #444444 !important;
        text-transform: uppercase;
        font-size: 17px;
        letter-spacing: 0.5px;
        margin-right: 30px; }
    header nav .login-header {
      float: right; }
      header nav .login-header li {
        display: inline-block;
        line-height: 95px;
        margin-left: 20px;
        color: #444;
        font-family: "BlockLetter";
        font-weight: 300; }
        header nav .login-header li i {
          margin-right: 2px; }
      header nav .login-header a:hover {
        text-decoration: underline; }
    header nav .usuario-header {
      float: right;
      margin-top: 10px; }
      header nav .usuario-header figure {
        border-radius: 100px;
        background-color: #f1f1f1;
        height: 45px;
        width: 45px;
        display: inline-block;
        position: relative;
        top: 17px;
        margin-right: 8px;
        overflow: hidden; }
        header nav .usuario-header figure img {
          width: 100%; }
        @media (max-width: 485px) {
          header nav .usuario-header figure {
            margin-right: 0px; } }
      header nav .usuario-header div {
        display: inline-block;
        position: relative;
        height: 40px; }
        header nav .usuario-header div ul {
          visibility: hidden;
          position: absolute;
          border: 2px solid #eeeeee;
          background-color: white;
          width: 150px;
          right: 0px;
          padding: 0px 12px 0px 12px;
          z-index: 999999;
          box-sizing: border-box;
          top: 40px; }
          header nav .usuario-header div ul li {
            border-top: 1px solid #eee;
            padding: 10px 0px 10px 0px;
            font-size: 14px;
            color: #666; }
            header nav .usuario-header div ul li i {
              width: 15px;
              text-align: center; }
          header nav .usuario-header div ul li:hover {
            color: #222; }
        @media (max-width: 485px) {
          header nav .usuario-header div {
            display: none; } }
      header nav .usuario-header div:hover > ul {
        visibility: visible; }
    header nav .menu-responsive, header nav .boton-responsive {
      display: none; }
  @media screen and (max-width: 950px) {
    header .menu-no-responsive, header .login-header {
      display: none; }
    header .menu-responsive {
      display: block; }
    header .boton-responsive {
      display: none;
      float: right; } }
  header #bottom-bar {
    width: 100%;
    padding-bottom: 10px; }
    header #bottom-bar .boton-categorias, header #bottom-bar .boton-categorias-responsive {
      float: left;
      padding: 15px 0px 15px 0px;
      max-width: 255px;
      border: 1px solid #231F20;
      text-align: center;
      color: #444;
      font-weight: 600;
      width: 100%;
      font-size: 15px;
      border-radius: 3px;
      position: relative;
      box-sizing: border-box;
      font-family: "BlockLetter"; }
      header #bottom-bar .boton-categorias i, header #bottom-bar .boton-categorias-responsive i {
        padding-right: 5px; }
      header #bottom-bar .boton-categorias .categorias-ul, header #bottom-bar .boton-categorias .categorias-ul-responsive, header #bottom-bar .boton-categorias-responsive .categorias-ul, header #bottom-bar .boton-categorias-responsive .categorias-ul-responsive {
        position: absolute;
        background-color: #231F20;
        width: 255px;
        border: 2px solid #231F20;
        border-radius: 3px;
        margin-left: -2px;
        margin-top: 15px;
        border-top: 0px;
        text-align: left;
        padding: 10px 20px 10px 20px;
        box-sizing: border-box;
        visibility: hidden;
        transition: .2s;
        opacity: 0;
        z-index: 9999; }
        header #bottom-bar .boton-categorias .categorias-ul li, header #bottom-bar .boton-categorias .categorias-ul-responsive li, header #bottom-bar .boton-categorias-responsive .categorias-ul li, header #bottom-bar .boton-categorias-responsive .categorias-ul-responsive li {
          display: block;
          padding: 15px 0px 15px 0px;
          box-sizing: border-box;
          font-weight: 400;
          border-top: 1px solid;
          border-color: rgba(255, 255, 255, 0.05);
          color: white; }
        @media (max-width: 1350px) {
          header #bottom-bar .boton-categorias .categorias-ul, header #bottom-bar .boton-categorias .categorias-ul-responsive, header #bottom-bar .boton-categorias-responsive .categorias-ul, header #bottom-bar .boton-categorias-responsive .categorias-ul-responsive {
            margin-top: 20px; } }
      header #bottom-bar .boton-categorias .categorias-ul-responsive, header #bottom-bar .boton-categorias-responsive .categorias-ul-responsive {
        opacity: 1;
        display: none;
        visibility: visible;
        transition: none; }
      @media (max-width: 1350px) {
        header #bottom-bar .boton-categorias, header #bottom-bar .boton-categorias-responsive {
          width: 50px !important; }
          header #bottom-bar .boton-categorias i, header #bottom-bar .boton-categorias-responsive i {
            padding: 0px; }
          header #bottom-bar .boton-categorias span, header #bottom-bar .boton-categorias-responsive span {
            display: none; } }
    header #bottom-bar .boton-categorias:hover {
      background-color: #F1592A;
      border-color: #F1592A;
      color: white; }
    header #bottom-bar .boton-categorias-responsive {
      display: none; }
    header #bottom-bar .boton-categorias:hover > .categorias-ul {
      opacity: 1;
      visibility: visible;
      transition: 0.3s; }
    @media (max-width: 772px) {
      header #bottom-bar .boton-categorias {
        display: none; }
      header #bottom-bar .boton-categorias-responsive {
        display: block;
        cursor: pointer; } }
    header #bottom-bar .buscar-header {
      float: left;
      color: #444;
      font-weight: 600;
      font-size: 15px;
      border-radius: 3px;
      margin-left: 20px;
      overflow: hidden;
      box-sizing: border-box; }
      header #bottom-bar .buscar-header input {
        border: 2px solid #eeeeee;
        border-right: 0px;
        height: 50px;
        box-sizing: border-box;
        width: 600px;
        float: left;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        padding: 0px 20px 0px 20px;
        font-size: 15px;
        font-weight: 300;
        transition: .3s; }
      header #bottom-bar .buscar-header input:focus {
        border-color: #F1592A;
        outline: none;
        transition: .5s;
        border: 1px solid #F1592A;
        border-right: 0px; }
      header #bottom-bar .buscar-header input:focus::-webkit-input-placeholder {
        color: white;
        transition: .5s; }
      header #bottom-bar .buscar-header button {
        background-color: #F1592A;
        color: white;
        border: none;
        height: 50px;
        padding: 0px;
        margin: 0px;
        box-sizing: border-box;
        width: 50px;
        font-size: 16px;
        float: left; }
      @media screen and (max-width: 1250px) {
        header #bottom-bar .buscar-header input {
          max-width: 400px; } }
      @media screen and (max-width: 1090px) {
        header #bottom-bar .buscar-header input {
          max-width: 300px; } }
      @media screen and (max-width: 996px) {
        header #bottom-bar .buscar-header input {
          max-width: 200px; } }
      @media screen and (max-width: 820px) {
        header #bottom-bar .buscar-header input {
          max-width: 200px; } }
      @media (max-width: 775px) {
        header #bottom-bar .buscar-header {
          width: -webkit-calc(100% - 70px); }
          header #bottom-bar .buscar-header input {
            max-width: 100%;
            width: -webkit-calc(100% - 50px); }
          header #bottom-bar .buscar-header button {
            background-color: #F1592A;
            color: white;
            border: none;
            height: 50px;
            padding: 0px;
            margin: 0px;
            box-sizing: border-box;
            width: 50px;
            font-size: 16px;
            float: left; } }
    header #bottom-bar .iconos-header {
      float: right;
      height: 50px; }
      header #bottom-bar .iconos-header .iconos li {
        display: inline-block;
        margin-left: 25px;
        position: relative; }
        header #bottom-bar .iconos-header .iconos li i {
          font-size: 25px;
          color: #444;
          line-height: 50px; }
        header #bottom-bar .iconos-header .iconos li .numero {
          position: relative;
          display: inline-block;
          background-color: #eeeeee;
          height: 25px;
          width: 25px;
          text-align: center;
          line-height: 25px;
          top: -3px;
          border-radius: 100px;
          font-size: 14px; }
        header #bottom-bar .iconos-header .iconos li .carrito-item {
          position: relative;
          top: 3px;
          font-size: 13px;
          color: #777;
          font-weight: 400;
          line-height: 16px; }
          header #bottom-bar .iconos-header .iconos li .carrito-item b {
            font-weight: 600;
            font-size: 15px;
            color: black; }
        header #bottom-bar .iconos-header .iconos li ul {
          position: absolute;
          z-index: 9999999;
          background-color: white;
          border: 2px solid #eee;
          border-radius: 5px;
          padding: 10px;
          box-sizing: border-box;
          width: 250px;
          right: 0px;
          visibility: hidden;
          opacity: 0;
          transition: visibility 0.2s linear,opacity 0.2s linear;
          box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.04); }
          header #bottom-bar .iconos-header .iconos li ul li {
            display: block;
            padding: 0px;
            margin: 0px;
            overflow: hidden;
            padding: 10px 0px 10px 0px;
            border-bottom: 1px solid #eee; }
            header #bottom-bar .iconos-header .iconos li ul li figure {
              float: left;
              width: 20%;
              display: flex;
              align-items: center;
              height: 40px; }
              header #bottom-bar .iconos-header .iconos li ul li figure img {
                width: 100%; }
            header #bottom-bar .iconos-header .iconos li ul li article {
              float: right;
              width: 75%;
              display: flex;
              align-items: center;
              height: 40px; }
              header #bottom-bar .iconos-header .iconos li ul li article p {
                font-weight: 300;
                font-size: 14px; }
                header #bottom-bar .iconos-header .iconos li ul li article p span {
                  font-size: 13px;
                  display: block;
                  width: 100%;
                  margin-bottom: 4px;
                  color: green !important; }
      header #bottom-bar .iconos-header .iconos li:hover > .hoversi {
        visibility: visible;
        opacity: 1; }
      @media (max-width: 775px) {
        header #bottom-bar .iconos-header {
          display: none; } }

footer {
  background-color: #0079ce;
  padding: 30px 0px 0px 0px; }
  footer .align {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; }
    footer .align section {
      color: white; }
      footer .align section h2 {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600; }
      footer .align section ul {
        margin-top: 15px; }
        footer .align section ul li {
          font-weight: 300;
          display: inline-block;
          padding-right: 10px; }
  footer .copy {
    background-color: #006ab3;
    color: white;
    text-align: center;
    margin-top: 30px;
    padding: 30px 0px 30px 0px; }

.registro-fondo {
  position: relative;
  height: 100vh;
  background-image: url("../img/registro.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.container-fluid .logo {
  display: flex;
  justify-content: center;
  padding-bottom: 25px; }
  .container-fluid .logo img {
    width: 200px;
    height: 100px;
    padding-top: 20px;
    padding-left: 20px; }
  .container-fluid .logo i {
    color: #4a4b67;
    font-size: 25px;
    margin-right: 40px;
    margin-top: 60px; }
.container-fluid .instruccion {
  text-align: left;
  padding-bottom: 20px; }
  .container-fluid .instruccion p {
    font-size: 20px;
    color: #4a4b67; }
.container-fluid .registro {
  background-color: #ffffff;
  width: 600px;
  margin: 0 auto;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 3px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1); }
  .container-fluid .registro form input {
    width: 95%;
    box-sizing: border-box; }
  .container-fluid .registro form button {
    width: 95%;
    margin-top: 20px;
    padding: 11px;
    text-transform: uppercase; }
  .container-fluid .registro form .error {
    color: #ff7b70;
    font-size: 13px;
    display: block;
    margin: 5px 0px 5px 0px; }
.container-fluid .login {
  background-color: #ffffff;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 3px;
  width: 300px;
  padding: 20px 20px;
  box-shadow: 0px 0px 5px 2px rgba(0, 0, 0, 0.1); }
  .container-fluid .login .boton {
    margin-top: 10px; }
.container-fluid .botonParaRegistro {
  text-align: center;
  margin-top: 20px; }
  .container-fluid .botonParaRegistro a {
    text-decoration: none;
    color: blue;
    display: inline-block; }
.container-fluid .bienvenido {
  padding-bottom: 20px;
  padding-top: 50px;
  display: flex;
  justify-content: center; }
  .container-fluid .bienvenido p {
    color: #4a4b67;
    font-size: 30px; }

#banner {
  overflow: hidden;
  background-image: url("../uploads/banner/bg1.jpg");
  background-position: center top;
  background-size: cover;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center; }
  #banner .banner-content {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; }
    #banner .banner-content .content {
      color: white;
      text-transform: uppercase;
      font-family: "Trump";
      font-size: 100px;
      font-weight: 900;
      max-width: 500px; }
  #banner img {
    width: 100%; }

.home .products-index {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  padding: 40px 0px 40px 0px;
  overflow: hidden; }
  .home .products-index .products .options li {
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
    color: #bbb;
    font-weight: 300;
    cursor: pointer; }
  .home .products-index .products .options .select {
    color: black;
    font-weight: 600;
    font-size: 22px; }
  @media (max-width: 530px) {
    .home .products-index .products .options {
      text-align: center; }
      .home .products-index .products .options li {
        font-size: 14px; }
      .home .products-index .products .options .select {
        color: black;
        font-weight: 600;
        font-size: 14px; } }
  @media (max-width: 425px) {
    .home .products-index .products .options {
      display: none; } }
  .home .products-index .products .mas-vendidos {
    display: none; }
  .home .products-index .products .en-oferta {
    display: none; }
  .home .products-index .products .ultimos-agregados {
    display: block; }
  .home .products-index .products .products-ul {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap; }
    .home .products-index .products .products-ul li {
      text-align: center;
      padding: 0px 5px;
      box-sizing: border-box;
      flex: 1;
      flex-basis: 20%;
      max-width: 20%;
      vertical-align: top;
      border-left: 1px solid #f1f1f1;
      margin-top: 30px; }
      .home .products-index .products .products-ul li .price {
        margin: 15px 0px 10px 0px;
        color: blue;
        font-weight: 600;
        color: #0080c8 !important; }
      .home .products-index .products .products-ul li p {
        font-size: 14.3px;
        color: #676565;
        font-weight: 300;
        padding: 0px 5px 0px 5px;
        box-sizing: border-box; }
      .home .products-index .products .products-ul li figure {
        width: 80%;
        min-height: 140px;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        vertical-align: bottom;
        position: relative; }
        .home .products-index .products .products-ul li figure img {
          width: 100%;
          vertical-align: bottom;
          position: absolute;
          bottom: 0px;
          left: 0px;
          transition: .2s; }
        .home .products-index .products .products-ul li figure .ofert-box {
          background-color: #3cb500;
          padding: 5px 7px 5px 7px;
          border-radius: 4px;
          box-sizing: border-box;
          top: 0px;
          right: 0px;
          position: absolute;
          color: white;
          font-size: 12px; }
      @media (max-width: 750px) {
        .home .products-index .products .products-ul li {
          flex-basis: 25%;
          max-width: 25%; } }
      @media (max-width: 600px) {
        .home .products-index .products .products-ul li {
          flex-basis: 33%;
          max-width: 33%; } }
      @media (max-width: 460px) {
        .home .products-index .products .products-ul li {
          border: none; }
          .home .products-index .products .products-ul li figure {
            min-height: 80px;
            width: 100%;
            display: flex;
            justify-align: center;
            align-items: center; }
            .home .products-index .products .products-ul li figure img {
              position: static;
              max-width: 70%;
              margin: 0 auto;
              text-align: center; }
            .home .products-index .products .products-ul li figure .ofert-box {
              font-size: 10px; }
          .home .products-index .products .products-ul li p {
            font-size: 12px; }
          .home .products-index .products .products-ul li .price {
            font-size: 13px;
            margin: 5px 0px 5px 0px; } }
      @media (max-width: 380px) {
        .home .products-index .products .products-ul li {
          flex-basis: 50%;
          max-width: 50%; } }
    .home .products-index .products .products-ul li:hover > a figure img {
      transform: scale(1.08);
      transition: .3s; }
  @media screen and (max-width: 1350px) {
    .home .products-index .products {
      float: none;
      max-width: 90%;
      margin: 0 auto; } }
.home .app-banner {
  background-color: #007dcb;
  height: 40px;
  margin: 50px 0px 0px 0px;
  padding: 10px 0px 10px 0px;
  width: 100% !important; }
  .home .app-banner p {
    color: white;
    text-align: center;
    line-height: 40px;
    font-weight: 300;
    font-size: 22px; }
    .home .app-banner p i {
      position: relative;
      font-size: 34px;
      line-height: normal;
      top: 3px;
      padding-right: 5px; }
.home .categorias {
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 0px 60px 0px; }
  .home .categorias h2 {
    text-align: center;
    font-size: 27px;
    font-weight: 300;
    color: #383838; }
  .home .categorias ul {
    display: flex;
    margin-top: 40px;
    flex-direction: row;
    flex-flow: row wrap; }
    .home .categorias ul li {
      width: 100%;
      text-align: center;
      padding: 40px 0px 40px 0px;
      flex: 1;
      flex-basis: 20%;
      max-width: 20%; }
      .home .categorias ul li figure {
        width: 60%;
        margin: 0 auto;
        text-align: center;
        height: 140px;
        display: flex;
        align-items: center; }
        .home .categorias ul li figure img {
          max-width: 100%;
          max-height: 100%;
          transition: .2s; }
      .home .categorias ul li h3 {
        color: #383838;
        font-weight: 600;
        margin-top: 30px; }
      @media (max-width: 1000px) {
        .home .categorias ul li {
          flex-basis: 33.3%;
          max-width: 33.3%; } }
      @media (max-width: 600px) {
        .home .categorias ul li {
          flex-basis: 50%;
          max-width: 50%; } }
    .home .categorias ul li:hover > figure img {
      transform: scale(1.1);
      transition: .3s; }
    .home .categorias ul li:nth-child(odd) {
      background-color: #f9f9f9; }
    @media (max-width: 600px) {
      .home .categorias ul li:nth-child(1) {
        background-color: #fff; }
      .home .categorias ul li:nth-child(2) {
        background-color: #f9f9f9; }
      .home .categorias ul li:nth-child(3) {
        background-color: #f9f9f9; }
      .home .categorias ul li:nth-child(4) {
        background-color: #fff; }
      .home .categorias ul li:nth-child(5) {
        background-color: #fff; }
      .home .categorias ul li:nth-child(6) {
        background-color: #f9f9f9; }
      .home .categorias ul li:nth-child(7) {
        background-color: #f9f9f9; }
      .home .categorias ul li:nth-child(8) {
        background-color: #fff; }
      .home .categorias ul li:nth-child(9) {
        background-color: #fff; } }
.home #tv-section {
  overflow: hidden;
  padding: 50px 0px 50px 0px;
  background-image: url("../img/tv-section.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed; }
  .home #tv-section #content {
    max-width: 1300px;
    margin: 0 auto; }
    .home #tv-section #content .bar {
      height: 2px;
      width: 60px;
      background-color: #007dcb; }
    .home #tv-section #content h2 {
      color: #090909;
      font-weight: 300;
      font-size: 24px;
      margin-top: 20px; }
      .home #tv-section #content h2 b {
        font-weight: 700; }
    .home #tv-section #content ul {
      width: 70%;
      margin-top: 20px; }
      .home #tv-section #content ul li {
        width: 45%;
        padding: 30px;
        box-sizing: border-box;
        background-color: white;
        overflow: hidden;
        display: inline-block;
        margin-right: 16px;
        margin-top: 16px;
        vertical-align: top;
        min-height: 194px; }
        @media (max-width: 1100px) {
          .home #tv-section #content ul li {
            width: 50%;
            margin: 0px;
            margin-left: -4px; } }
        @media (max-width: 880px) {
          .home #tv-section #content ul li {
            width: 100%;
            margin: 0px;
            margin-left: -4px;
            margin-top: 10px; } }
        .home #tv-section #content ul li figure {
          width: 43%;
          float: left;
          overflow: hidden;
          position: relative; }
          .home #tv-section #content ul li figure img {
            width: 100%;
            transition: .3s; }
          .home #tv-section #content ul li figure .ofert-box {
            background-color: #3cb500;
            padding: 5px 7px 5px 7px;
            border-radius: 4px;
            box-sizing: border-box;
            top: 0px;
            right: 0px;
            position: absolute;
            color: white;
            font-size: 12px; }
          @media (max-width: 470px) {
            .home #tv-section #content ul li figure {
              float: none;
              width: 100%; } }
        .home #tv-section #content ul li article {
          width: 52%;
          float: right;
          padding-top: 18px; }
          .home #tv-section #content ul li article h3 {
            color: #007dcb;
            font-size: 20px;
            font-weight: 600; }
          .home #tv-section #content ul li article p {
            font-weight: 300;
            font-size: 15.5px;
            margin-top: 10px;
            color: #626060;
            height: 35px; }
          .home #tv-section #content ul li article .btn {
            display: block;
            border: 2px solid #007dcb;
            border-radius: 20px;
            color: #007dcb;
            font-size: 15px;
            font-weight: 300;
            padding: 7px 10px 7px 10px;
            box-sizing: border-box;
            text-align: center;
            margin-top: 10px;
            transition: .2s; }
            .home #tv-section #content ul li article .btn i {
              margin-right: 5px; }
            @media (max-width: 542px) {
              .home #tv-section #content ul li article .btn {
                font-size: 12px; } }
          .home #tv-section #content ul li article .btn:hover {
            background-color: #007dcb;
            transition: .3s;
            color: white; }
          @media (max-width: 470px) {
            .home #tv-section #content ul li article {
              float: none;
              width: 100%;
              text-align: center; }
              .home #tv-section #content ul li article .btn {
                margin: 0 auto; } }
      .home #tv-section #content ul li:hover > figure a img {
        transform: scale(1.08);
        transition: .3s; }
      @media (max-width: 1350px) {
        .home #tv-section #content ul {
          width: 80%;
          margin: 0 auto; } }
      @media (max-width: 1100px) {
        .home #tv-section #content ul {
          width: 100%;
          margin: 0 auto; } }
    @media (max-width: 1350px) {
      .home #tv-section #content {
        max-width: 90%;
        margin: 0 auto; } }
.home #desktop-section {
  padding: 50px 0px 0px 0px;
  max-width: 1300px;
  margin: 0 auto; }
  .home #desktop-section h2 {
    color: #090909;
    font-weight: 300;
    font-size: 24px; }
    .home #desktop-section h2 b {
      font-weight: 700; }
  .home #desktop-section hr {
    height: 1px;
    border: none;
    background-color: #eee;
    width: 100%;
    margin: 15px 0px 35px 0px; }
  .home #desktop-section ul {
    display: flex;
    justify-content: left; }
    @media (max-width: 1350px) {
      .home #desktop-section ul {
        justify-content: none;
        flex-direction: row;
        flex-flow: row wrap; } }
    .home #desktop-section ul li {
      text-align: center;
      padding: 0px 5px;
      box-sizing: border-box;
      max-width: 20%;
      vertical-align: top;
      border-left: 1px solid #f1f1f1; }
      @media (max-width: 1350px) {
        .home #desktop-section ul li {
          flex: 1;
          flex-basis: 20%;
          max-width: 20%; } }
  @media (max-width: 1350px) and (max-width: 790px) {
    .home #desktop-section ul li {
      flex-basis: 33.3%;
      max-width: 33.3%;
      margin-top: 16px; } }
  @media (max-width: 1350px) and (max-width: 420px) {
    .home #desktop-section ul li {
      flex-basis: 50%;
      max-width: 50%; } }
  @media (max-width: 1350px) and (max-width: 280px) {
    .home #desktop-section ul li {
      flex-basis: 100%;
      max-width: 100%; } }

      .home #desktop-section ul li .price {
        margin: 15px 0px 10px 0px;
        color: blue;
        font-weight: 600;
        color: #0080c8 !important; }
      .home #desktop-section ul li p {
        font-size: 14.3px;
        color: #676565;
        font-weight: 300;
        padding: 0px 5px 0px 5px;
        box-sizing: border-box;
        width: 90%;
        margin: 0 auto; }
      .home #desktop-section ul li figure {
        width: 80%;
        min-height: 140px;
        overflow: hidden;
        margin: 0 auto;
        text-align: center;
        vertical-align: bottom;
        position: relative; }
        .home #desktop-section ul li figure img {
          width: 100%;
          vertical-align: bottom;
          position: absolute;
          bottom: 0px;
          left: 0px;
          transition: .2s; }
        .home #desktop-section ul li figure .ofert-box {
          background-color: #3cb500;
          padding: 5px 7px 5px 7px;
          border-radius: 4px;
          box-sizing: border-box;
          top: 0px;
          right: 0px;
          position: absolute;
          color: white;
          font-size: 12px; }
    .home #desktop-section ul li:hover > a figure img {
      transform: scale(1.08);
      transition: .3s; }
    .home #desktop-section ul li:nth-child(1) {
      border-left: 0px; }
  @media (max-width: 1350px) {
    .home #desktop-section {
      max-width: 90%; } }
.home #brands-section {
  max-width: 1300px;
  margin: 0 auto;
  padding: 50px 0px 50px 0px; }
  .home #brands-section .slick-brands {
    border: 2px solid #ebebeb;
    border-radius: 3px;
    padding: 40px 20px 0px 20px;
    box-sizing: border-box; }
    .home #brands-section .slick-brands li {
      width: 10%;
      display: inline-block;
      vertical-align: middle;
      height: 50px; }
      .home #brands-section .slick-brands li img {
        height: 100%;
        width: 80%;
        margin: 0 auto;
        display: inline-block;
        vertical-align: middle;
        filter: grayscale(100%);
        max-height: 60px;
        padding: 0px 20px 0px 20px;
        opacity: .4; }
      .home #brands-section .slick-brands li img:hover {
        filter: grayscale(0%); }

#view-product {
  max-width: 1300px;
  margin: 0 auto;
  padding: 20px 0px 20px 0px;
  overflow: hidden; }
  #view-product #navigate {
    width: 100%;
    text-align: left;
    margin-bottom: 20px; }
    #view-product #navigate li {
      display: inline-block;
      padding: 10px 0px 10px 0px;
      box-sizing: border-box;
      border-radius: 5px;
      color: #5f5f5f;
      font-weight: 300;
      font-size: 15px; }
    #view-product #navigate .cat {
      background-color: #f5f5f5;
      padding: 10px 15px 10px 15px; }
    #view-product #navigate i {
      display: inline-block;
      padding: 0px 10px 0px 10px;
      color: #5f5f5f; }
    @media (max-width: 775px) {
      #view-product #navigate {
        text-align: center; } }
    @media (max-width: 450px) {
      #view-product #navigate li {
        font-size: 8px; } }
  #view-product #picture {
    width: 40%;
    float: left;
    position: relative;
    padding: 50px;
    box-sizing: border-box; }
    #view-product #picture img {
      width: 100%; }
    #view-product #picture .ofert-box {
      background-color: #3cb500;
      padding: 7px 10px 7px 10px;
      border-radius: 4px;
      box-sizing: border-box;
      top: 0px;
      right: 0px;
      position: absolute;
      color: white;
      font-size: 13px; }
    #view-product #picture figure {
      position: absolute;
      top: 0px;
      left: 0px;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #fff;
      border: 1px solid #ddd;
      box-sizing: border-box;
      width: 100px;
      height: 100px;
      display: none; }
      #view-product #picture figure img {
        width: 100%; }
    @media (max-width: 775px) {
      #view-product #picture {
        float: none;
        width: 100%; } }
  #view-product article {
    width: 58%;
    float: right; }
    #view-product article h2 {
      color: #444444;
      font-size: 22px;
      font-weight: 600; }
      #view-product article h2 form {
        display: inline-block;
        text-align: right;
        float: right;
        margin: 0px; }
        #view-product article h2 form button {
          background-color: transparent !important;
          color: black !important;
          display: inline-block;
          width: auto;
          padding: 0px;
          cursor: pointer; }
          #view-product article h2 form button i {
            font-size: 22px; }
      #view-product article h2 a {
        text-align: right;
        float: right; }
      @media (max-width: 385px) {
        #view-product article h2 {
          font-size: 17px; } }
    #view-product article hr {
      height: 1px;
      border: none;
      background-color: #f1f1f1;
      margin: 20px 0px 20px 0px; }
    #view-product article p {
      margin-bottom: 20px; }
    #view-product article .mensaje-no-carrito {
      margin-top: 20px;
      color: #777;
      font-style: italic;
      border: 2px solid #ddd;
      border-radius: 9px;
      padding: 10px;
      box-sizing: border-box;
      display: inline-block; }
    #view-product article .with-ofert {
      font-size: 18px;
      text-decoration: line-through;
      color: #b8b8b8;
      font-weight: 300;
      margin-bottom: 5px; }
    #view-product article h3 {
      color: #0073d1;
      font-size: 29px;
      font-weight: 600; }
    #view-product article img {
      height: 45px; }
    #view-product article form {
      margin-top: 30px; }
      #view-product article form label {
        display: inline-block; }
        #view-product article form label span {
          display: block;
          color: #888;
          font-weight: 300;
          font-size: 16px; }
        #view-product article form label input {
          display: block;
          max-width: 60px;
          border: none;
          border: 1px solid #ddd;
          border-radius: 3px;
          padding: 10px;
          box-sizing: border-box;
          margin-top: 10px;
          font-size: 18px; }
      #view-product article form button {
        display: inline-block;
        background-color: #0073d1;
        border: none;
        border-radius: 3px;
        color: white;
        font-size: 15px;
        padding: 12.5px 18px 12.5px 18px; }
    @media (max-width: 775px) {
      #view-product article {
        float: none;
        width: 100%; } }
  @media (max-width: 1350px) {
    #view-product {
      max-width: 90%; } }

#category {
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 0px 60px 0px;
  overflow: hidden; }
  @media (max-width: 1350px) {
    #category {
      max-width: 90%; } }
  #category aside {
    float: left;
    width: 23%; }
    @media (max-width: 1000px) {
      #category aside {
        width: 250px;
        position: absolute;
        z-index: 99999;
        background-color: white;
        padding: 10px 30px 30px 30px;
        box-sizing: border-box;
        box-shadow: 0px 0px 18px 3px rgba(0, 0, 0, 0.04);
        display: none; } }
    #category aside i {
      color: #0080c8; }
    #category aside .categories {
      border: 2px solid #ececec;
      border-radius: 6px; }
      #category aside .categories h2 {
        color: #777;
        padding-bottom: 15px;
        border-bottom: 1px solid #eee;
        padding: 20px;
        box-sizing: border-box;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        text-align: center;
        width: 100%; }
      #category aside .categories div {
        padding: 20px;
        box-sizing: border-box; }
      #category aside .categories li {
        padding: 15px 0px 15px 0px;
        box-sizing: border-box;
        color: #777;
        font-weight: 400;
        border-top: 1px solid #eee; }
        #category aside .categories li a {
          color: #777;
          font-weight: 300; }
      #category aside .categories li:nth-child(1) {
        border-top: 0px;
        padding-top: 0px; }
      @media (max-width: 1000px) {
        #category aside .categories {
          display: none; } }
    #category aside h3 {
      color: #777;
      padding-bottom: 15px;
      border-bottom: 1px solid #eee;
      padding: 20px 20px 20px 0px;
      box-sizing: border-box;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 16px;
      text-align: left;
      margin-bottom: 20px;
      margin-top: 10px;
      font-weight: 300; }
    #category aside #filter form .boton-redondeado {
      margin-top: 10px; }
      #category aside #filter form .boton-redondeado i {
        margin-left: 10px; }
    #category aside #filter form .boton-redondeado:hover i {
      color: white; }
    #category aside #filter form span {
      font-size: 15px;
      color: #777;
      font-weight: 300; }
    #category aside #filter form .inp {
      display: flex;
      justify-align: space-between;
      margin-top: 10px; }
      #category aside #filter form .inp input {
        border: none;
        border: 1px solid #ddd;
        border-radius: 6px;
        width: 100%;
        padding: 10px;
        box-sizing: border-box;
        font-size: 17px;
        text-align: center; }
      #category aside #filter form .inp .b {
        height: 1px;
        width: 40px;
        background-color: #ddd;
        margin-top: 22px; }
    @media (max-width: 1000px) {
      #category aside #latest-products {
        display: none; } }
    #category aside #latest-products .products li {
      overflow: hidden;
      width: 100%;
      border-top: 1px solid #ddd;
      padding-top: 20px; }
      #category aside #latest-products .products li .data {
        box-sizing: border-box;
        vertical-align: top;
        float: right;
        width: 46%; }
        #category aside #latest-products .products li .data .price {
          margin: 15px 0px 10px 0px;
          color: blue;
          font-weight: 600;
          color: #0080c8 !important; }
        #category aside #latest-products .products li .data p {
          font-size: 14.3px;
          color: #676565;
          font-weight: 300;
          box-sizing: border-box; }
      #category aside #latest-products .products li figure {
        width: 48%;
        float: left;
        height: 115px;
        overflow: hidden;
        text-align: center;
        display: flex;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        position: relative; }
        #category aside #latest-products .products li figure img {
          width: 100%;
          transition: .2s; }
        #category aside #latest-products .products li figure .ofert-box {
          background-color: #3cb500;
          padding: 5px 7px 5px 7px;
          border-radius: 4px;
          box-sizing: border-box;
          top: 0px;
          right: 0px;
          position: absolute;
          color: white;
          font-size: 12px; }
    #category aside #latest-products .products li:hover > a figure img {
      transform: scale(1.08);
      transition: .3s; }
    #category aside #latest-products .products li:nth-child(1) {
      border: none;
      padding-top: 0px; }
  #category .container {
    float: right;
    width: 75%; }
    @media (max-width: 1000px) {
      #category .container {
        width: 100%;
        float: none; } }
    #category .container #publicity {
      border: 2px solid #ececec;
      border-radius: 6px;
      background-image: url("../img/pub.jpg");
      background-size: cover;
      background-position: center;
      overflow: hidden; }
      @media (max-width: 1000px) {
        #category .container #publicity {
          display: none; } }
      #category .container #publicity article {
        float: left;
        width: 70%;
        padding: 40px;
        box-sizing: border-box; }
        #category .container #publicity article h2 {
          font-size: 18px;
          color: #4c4c4c; }
        #category .container #publicity article p {
          font-size: 12px;
          color: #777;
          line-height: 18px;
          margin-top: 15px; }
        #category .container #publicity article .boton-redondeado {
          margin-top: 20px; }
          #category .container #publicity article .boton-redondeado i {
            margin-left: 5px; }
    #category .container .title-category {
      font-size: 25px;
      font-weight: 300;
      padding: 20px 0px 20px 0px;
      color: #444;
      border-bottom: 1px solid #eee; }
      #category .container .title-category img {
        height: 60px;
        margin: 0 auto;
        text-align: center; }
      #category .container .title-category .b-filtros {
        float: right;
        text-align: center; }
    #category .container .products {
      display: flex;
      flex-direction: row;
      flex-flow: row wrap; }
      #category .container .products li {
        text-align: center;
        padding: 0px 5px;
        box-sizing: border-box;
        flex: 1;
        flex-basis: 20%;
        max-width: 20%;
        vertical-align: top;
        border-left: 1px solid #f1f1f1;
        margin-top: 30px; }
        #category .container .products li .price {
          margin: 15px 0px 10px 0px;
          color: blue;
          font-weight: 600;
          color: #0080c8 !important; }
        #category .container .products li p {
          font-size: 14.3px;
          color: #676565;
          font-weight: 300;
          padding: 0px 5px 0px 5px;
          box-sizing: border-box; }
        #category .container .products li figure {
          width: 80%;
          min-height: 140px;
          overflow: hidden;
          margin: 0 auto;
          text-align: center;
          vertical-align: bottom;
          position: relative; }
          #category .container .products li figure img {
            width: 100%;
            vertical-align: bottom;
            position: absolute;
            bottom: 0px;
            left: 0px;
            transition: .2s; }
          #category .container .products li figure .ofert-box {
            background-color: #3cb500;
            padding: 5px 7px 5px 7px;
            border-radius: 4px;
            box-sizing: border-box;
            top: 0px;
            right: 0px;
            position: absolute;
            color: white;
            font-size: 12px; }
        @media (max-width: 750px) {
          #category .container .products li {
            flex-basis: 25%;
            max-width: 25%; } }
        @media (max-width: 600px) {
          #category .container .products li {
            flex-basis: 33%;
            max-width: 33%; } }
        @media (max-width: 460px) {
          #category .container .products li {
            border: none; }
            #category .container .products li figure {
              min-height: 80px;
              width: 100%;
              display: flex;
              justify-align: center;
              align-items: center; }
              #category .container .products li figure img {
                position: static;
                max-width: 70%;
                margin: 0 auto;
                text-align: center; }
              #category .container .products li figure .ofert-box {
                font-size: 10px; }
            #category .container .products li p {
              font-size: 12px; }
            #category .container .products li .price {
              font-size: 13px;
              margin: 5px 0px 5px 0px; } }
        @media (max-width: 380px) {
          #category .container .products li {
            flex-basis: 50%;
            max-width: 50%; } }
      #category .container .products li:hover > a figure img {
        transform: scale(1.08);
        transition: .3s; }

#profile {
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 0px 60px 0px;
  overflow: hidden; }
  #profile aside {
    float: left;
    width: 23%; }
    #profile aside i {
      color: #0080c8; }
    #profile aside .options {
      border: 2px solid #ececec;
      border-radius: 6px; }
      #profile aside .options h2 {
        color: #777;
        padding-bottom: 15px;
        border-bottom: 1px solid #eee;
        padding: 20px;
        box-sizing: border-box;
        text-transform: uppercase;
        letter-spacing: 2px;
        font-size: 14px;
        text-align: center; }
      #profile aside .options div {
        padding: 20px;
        box-sizing: border-box; }
      #profile aside .options li {
        padding: 15px 0px 15px 0px;
        box-sizing: border-box;
        color: #777;
        font-weight: 400;
        border-top: 1px solid #eee; }
        #profile aside .options li a {
          color: #777;
          font-weight: 300; }
      #profile aside .options li:nth-child(1) {
        border-top: 0px;
        padding-top: 0px; }
    @media (max-width: 800px) {
      #profile aside {
        float: none;
        width: 100%; } }
  #profile .container {
    float: right;
    width: 75%; }
    #profile .container #publicity {
      border: 2px solid #ececec;
      border-radius: 6px;
      background-image: url("../img/pub.jpg");
      background-size: cover;
      background-position: right;
      overflow: hidden; }
      #profile .container #publicity article {
        float: left;
        width: 70%;
        padding: 40px;
        box-sizing: border-box; }
        #profile .container #publicity article h2 {
          font-size: 18px;
          color: #4c4c4c; }
        #profile .container #publicity article p {
          font-size: 12px;
          color: #777;
          line-height: 18px;
          margin-top: 15px; }
        #profile .container #publicity article .boton-redondeado {
          margin-top: 20px; }
          #profile .container #publicity article .boton-redondeado i {
            margin-left: 5px; }
    @media (max-width: 1000px) {
      #profile .container #publicity {
        display: none; } }
    #profile .container .title-profile {
      font-size: 25px;
      font-weight: 300;
      padding: 20px 0px 20px 0px;
      color: #444;
      border-bottom: 1px solid #eee; }
    #profile .container #profile-data {
      overflow: hidden;
      margin-top: 30px; }
      #profile .container #profile-data figure {
        float: left;
        width: 30%;
        height: 280px; }
        #profile .container #profile-data figure img {
          width: 100%; }
        @media (max-width: 515px) {
          #profile .container #profile-data figure {
            float: none;
            width: 100%;
            height: auto;
            margin-bottom: 20px; } }
      #profile .container #profile-data section {
        width: 67%;
        float: right;
        border: 2px solid #ececec;
        border-radius: 6px;
        box-sizing: border-box; }
        #profile .container #profile-data section h2 {
          color: #777;
          padding-bottom: 15px;
          border-bottom: 1px solid #eee;
          padding: 20px;
          box-sizing: border-box;
          text-transform: uppercase;
          letter-spacing: 2px;
          font-size: 14px;
          text-align: left; }
        #profile .container #profile-data section ul {
          padding: 20px;
          box-sizing: border-box; }
          #profile .container #profile-data section ul li {
            padding: 10px 0px 10px 0px;
            color: #777;
            font-weight: 300;
            border-top: 1px solid #eee;
            font-size: 15px; }
            #profile .container #profile-data section ul li span {
              font-weight: 400;
              font-size: 15px; }
          #profile .container #profile-data section ul li:nth-child(1) {
            border: none;
            padding-top: 0px; }
          #profile .container #profile-data section ul .boton-redondeado {
            margin-top: 17px; }
          #profile .container #profile-data section ul .edit input {
            border: none;
            font-weight: 300;
            font-size: 15px;
            color: #777; }
        @media (max-width: 515px) {
          #profile .container #profile-data section {
            float: none;
            width: 100%; } }
    @media (max-width: 800px) {
      #profile .container {
        float: none;
        width: 100%; } }
  @media (max-width: 1350px) {
    #profile {
      max-width: 90%; } }

#wishes {
  max-width: 1300px;
  margin: 0 auto;
  padding: 60px 0px 60px 0px; }
  #wishes h1 {
    font-size: 40px;
    text-align: center;
    font-weight: 700; }
  #wishes .sub {
    text-align: center;
    margin-top: 10px;
    color: green; }
  #wishes .tg {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    margin-top: 30px;
    border-bottom: 1px solid #ddd; }
  #wishes .tg td {
    font-size: 14px;
    padding: 10px 5px;
    border-style: solid;
    overflow: hidden;
    word-break: normal;
    color: #444;
    padding-left: 10px;
    box-sizing: border-box;
    line-height: 25px; }
    #wishes .tg td .precio {
      font-weight: 600;
      font-size: 16px; }
    #wishes .tg td .precio {
      font-weight: 600;
      font-size: 16px; }
    #wishes .tg td .ofertProductSquare {
      vertical-align: top;
      position: relative;
      display: inline-block;
      height: 17px;
      line-height: 17px;
      padding: 0px;
      padding: 0px 8px 0px 8px;
      margin-left: 3px; }
    #wishes .tg td .no-stock {
      font-weight: 600;
      font-size: 14px;
      color: #00c01e; }
    #wishes .tg td .stock {
      font-weight: 600;
      font-size: 14px;
      color: #00c01e; }
  #wishes .tg td figure {
    height: 40px;
    width: 40px;
    overflow: hidden; }
  #wishes .tg td figure img {
    width: 100%; }
  #wishes .tg th {
    font-size: 15px;
    font-weight: normal;
    padding: 10px 5px;
    overflow: hidden;
    word-break: normal;
    border-bottom: 1px solid #ddd;
    text-align: left;
    padding-left: 10px;
    box-sizing: border-box;
    color: #777;
    font-weight: 300; }
  #wishes .tg .tg-us36 {
    vertical-align: top; }
  #wishes .tg .edit, #wishes .tg .delete {
    font-size: 18px;
    height: 25px;
    width: 25px;
    line-height: 25px; }
  #wishes .tg .edit {
    color: green; }
  #wishes .tg .b {
    color: #ddd;
    margin-left: 5px;
    background-color: transparent;
    border: none;
    cursor: pointer; }
  #wishes .carrito-total {
    font-weight: 300;
    margin-top: 20px;
    text-align: left;
    border-top: 1px solid #ddd;
    padding-top: 20px; }
    #wishes .carrito-total b {
      font-weight: 600;
      font-size: 17px; }
    #wishes .carrito-total span {
      display: block;
      margin-bottom: 10px;
      color: #00cc5e;
      font-weight: 600; }
  #wishes .form-cupon {
    margin-top: 20px;
    overflow: hidden;
    max-width: 280px; }
    #wishes .form-cupon span {
      display: block;
      font-weight: 300; }
    #wishes .form-cupon input {
      padding: 10px;
      box-sizing: border-box;
      display: block;
      border-radius: 4px;
      border: none;
      border: 1px solid #ddd;
      margin: 10px 0px 10px 0px;
      float: left; }
    #wishes .form-cupon button {
      float: right;
      margin-top: 10px; }

/*# sourceMappingURL=estilo3.css.map */
