@font-face
{
	font-family: "BlockLetter";
	src: url("../fonts/blockletter.otf");
}
@font-face
{
	font-family: "Trump";
	src: url("../fonts/trump_gothic_west.ttf");
}

$primaryFont 	: "Roboto";
$secondaryFont 	: "BlockLetter";
$tercFont 		: "Trump";

$colorPrimary : #F1592A;
$colorSecond  : #231F20;

body {
	font-family: 'Roboto', sans-serif;
}

.clear {clear: both;}

a {
	color: #444;
	text-decoration: none;
}

#loading {
	position: fixed;
	z-index: 999999999999999999999999999;
	width: 100%;
	height:100%;
	background-color: #f8f8f8;
	color: #000; 
}


.fondoLogin{

	background-image: url('../img/login.jpg');
	background-size: cover;
	background-position: center;
	height: 100vw;
	position: relative;


}

.blur {
	background-color: black;
	opacity: .4;
	position: fixed;
	top: 0px;
	left: 0px;
	height: 100vh;
	width: 100vw;
	z-index: 9999999;
	display: none;
}

.pagination {
	text-align: center;
	margin-top: 40px;

	li {
		display: inline-block;
		background-color: white;
		border: 1px solid #ddd;
		border-radius: 1000px;
		width: 40px;
		height: 40px;
		line-height: 40px;
	}
	li:hover {
		border-color: #0088e8;
	}
	li:hover a {
	}
	.active {
		background-color: #0088e8;
		color: white;
		border-color: #0088e8;
	}
}


//oferts
.ofertProductSquare {
	background-color: green;
	color: white;
	font-size: 8px;
    padding: 2px 5px 2px 5px;
    box-sizing: border-box;
    vertical-align: top;
    position: relative;
    top: 4.5px;
	left: 4px;
	font-family: $primaryFont !important;
	font-style: normal;
}
.ofertProductTextColor {
	color: green;
}

header {
	position: relative;
	z-index: 99999999;
	background-color: white;

	background-image: url("../img/product-child.jpg");
	background-size: cover;
	background-position: center;

	#admin-header {
		height: 40px;
		background-color: #333;
		text-align: center;

		p {
			line-height: 40px;
			font-weight: 600;
			font-size: 13px;
			color: white;

			a {
				color: white;
				background-color: $colorPrimary;
				padding: 2px 4px 2px 4px;
				-webkit-box-sizing: border-box;
				-moz-box-sizing: border-box;
				box-sizing: border-box;
				font-size: 13px;
				border-radius: 4px;
			}
		}
	}

	#top-bar {
		background-color: #F1592A;
		height: 20px;
	}

	#header-align {
		max-width: 1300px;
		margin: 0 auto;
	}

	@media screen and (max-width: 1250px) {
		#header-align {
			width: 90%;
		}
	}

	nav {
		height: 95px;

		.logo-header {
			height: 70px;
			margin: 12px 0px 0px 0px;
			float: left;
		}

		.menu-no-responsive {
			float: left;
			line-height: 95px;
			margin-left: 100px;
			font-family: $secondaryFont;

			a {
				color: white !important;
			}

			li {
				display: inline-block;
				color: white !important;
				text-transform: uppercase;
				font-size: 17px;
				letter-spacing: 0.5px;
				margin-right: 30px;
			}
		}

		.login-header {
			float: right;

			li {
				display: inline-block;
				line-height: 95px;
				margin-left: 20px;
				color: white;
				font-family: $secondaryFont;
				font-weight: 300;

				i {
					margin-right: 2px;
				}
			}
			a {
				color: white !important;
			}
			a:hover {
				text-decoration: underline;
			}
		}

		.usuario-header {
			float: right;
			margin-top: 10px;

			a {
				color: white;
			}

			figure {
				border-radius: 100px;
				background-color: #f1f1f1;
				height: 45px;
				width: 45px;
				display: inline-block;
				position: relative;
				top: 17px;
				margin-right: 8px;
				overflow: hidden;
				img{
					width: 100%;
				}

				@media (max-width: 485px) {
					margin-right: 0px;
				}
			}
			div {
				display: inline-block;
				position: relative;
				height: 40px;


				ul {
					visibility: hidden;
					position: absolute;
					border:2px solid #eeeeee;
					background-color: white;
					width: 150px;
					right: 0px;
					padding: 0px 12px 0px 12px;
					z-index: 999999;
					box-sizing: border-box;
					top: 40px;

					li {
						border-top: 1px solid #eee;
						padding: 10px 0px 10px 0px;
						font-size: 14px;
						color: #777;

						i {
							width: 15px;
							text-align: center;
						}
					}

					li:hover {
						color: $colorPrimary
					}
				}

				@media (max-width: 485px) {
					display: none;
				}
			}

			div:hover > ul {
				visibility: visible;
			}
		}

		.menu-responsive, .boton-responsive {
			display: none;
		}
	}

	@media screen and (max-width: 950px) {
		.menu-no-responsive, .login-header {
			display: none
		}
		.menu-responsive {
			display: block;
		}
		.boton-responsive {
			display: none;
			float: right;

		}
	}

	#bottom-bar {
		width: 100%;
		padding-bottom: 10px;
		
		
		.boton-categorias, .boton-categorias-responsive {
			float: left;
			padding: 15px 0px 15px 0px;
			max-width: 255px;
			border:2px solid #777;
			text-align: center;
			color: white;
			font-weight: 600;
			width: 100%;
			font-size: 18px;
			border-radius: 3px;
			box-sizing: border-box;
			font-family: $secondaryFont;

			i {
				padding-right: 5px;
			}

			.categorias-ul, .categorias-ul-responsive {
				position: absolute;
				background-color: rgba($colorSecond, .9);
				width: 100vw;
				left: 0px;
				border:2px solid $colorSecond;
				margin-top: 15px;
				border-top: 0px;
				text-align: left;
				box-sizing: border-box;
				visibility: hidden;
				transition:.2s;
				opacity:0;
				z-index: 9999;
				padding: 20px;
				font-family: $primaryFont;
				border-bottom: 5px solid $colorPrimary;

				.align {
					margin: 0 auto;
					max-width: 1300px;
					display: flex;
					flex-direction: row;
					flex-flow: row wrap;
				}

				.title-a {
					color: $colorPrimary !important;
					font-size: 20px;
					font-weight: 300;
				}
				.subcategory-a {
					color: white !important;
				}

				.category-li {
					flex: 1;
					flex-basis: 25%;
					padding-bottom: 10px;;
					box-sizing: border-box;

					li {
						font-size: 15px;
						margin: 5px 0px;
						font-weight: 300;
					}
				}

			}


			.categorias-ul-responsive {
				opacity: 1;
				display: none;
				visibility: visible;
				transition: none;
			}


			@media (max-width: 1350px) {
				width: 50px !important;
				i {	padding: 0px; }
				span {display: none;}
			}
		}


		.boton-categorias-responsive {
			display: none;
		}

		.boton-categorias:hover > .categorias-ul {
    		opacity:1;
			visibility: visible;
			transition:.3s
		}

		@media (max-width: 772px) {
			.boton-categorias {
				display: none
			}
			.boton-categorias-responsive {
				display: block;
				cursor: pointer;
				background-color: $colorPrimary;
				border-color: $colorPrimary;
			}
		}
		
		
		
		.buscar-header {
			float: left;
			color: white;
			font-weight: 600;
			font-size: 15px;
			border-radius: 3px;
			margin-left: 20px;
			overflow: hidden;
			box-sizing:border-box;

			
			input {
				border:2px solid #eeeeee;
				border-right: 0px;
				height: 50px;
				box-sizing: border-box;
				width: 600px;
				float: left;
				border-top-left-radius: 3px;
				border-bottom-left-radius: 3px;
				padding: 0px 20px 0px 20px;
				font-size: 15px;
				font-weight: 300;
				transition: .3s;
			}
			input:focus {
				border-color: #0082c5;
				outline: none;
				transition: .5s;
				border:1px solid #0082c5;
				border-right: 0px;
			}
			input:focus::-webkit-input-placeholder {
				color: white;
				transition:.5s;
			}
			button {
				background-color: $colorPrimary;
				color: white;
				border:none;
				height: 50px;
				padding: 0px;
				margin: 0px;
				box-sizing: border-box;
				width: 50px;
				font-size: 16px;
				float: left;
			}


			@media screen and (max-width: 1250px) {
				input {
					max-width: 400px;
				}
			}
			@media screen and (max-width: 1090px) {
				input {
					max-width: 300px;
				}
			}
			@media screen and (max-width: 996px) {
				input {
					max-width: 200px;
				}
			}
			@media screen and (max-width: 820px) {
				input {
					max-width: 200px;
				}
			}
			@media (max-width: 775px) {
				input {
					max-width: 100%;
					width: unquote("-webkit-calc(100% - 50px)");
				}
				button {
					background-color: #0082c5;
					color: white;
					border:none;
					height: 50px;
					padding: 0px;
					margin: 0px;
					box-sizing: border-box;
					width: 50px;
					font-size: 16px;
					float: left;
				}

				width: unquote("-webkit-calc(100% - 70px)");
			}
		}


		.iconos-header {
			float: right;
			height: 50px;

			.iconos {
				
				li {
					display: inline-block;
					margin-left: 25px;
					position: relative;
					
					i{
						font-size: 25px;
						color: white;
						line-height: 50px;
					}

					.numero {
						position: relative;
						display: inline-block;
						background-color: rgba(255,255,255,.2);
						height: 25px;
						width: 25px;
						text-align: center;
						line-height: 25px;
						top: -3px;
						border-radius: 100px;
						font-size: 14px;
						color: white;
					}

					.carrito-item {
						position: relative;
						top: 3px;
						font-size: 13px;
						color: white;
						font-weight: 400;
						line-height: 16px;


						br {
							
						}

						b {
							font-weight: 600;
							font-size: 15px;
							color: white;

						}
					}

					ul {
						position: absolute;
						z-index:9999999;
						background-color: white;
						border:2px solid #eee;
						border-radius: 5px;
						padding: 10px;
						box-sizing:border-box;
						width: 250px;
						right: 0px;
						visibility: hidden;
						opacity:0;
						transition:visibility 0.2s linear,opacity 0.2s linear;
						box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.04);

						li {
							display: block;
							padding: 0px;
							margin: 0px;
							overflow: hidden;
							padding: 10px 0px 10px 0px;
							border-bottom: 1px solid #eee;

							figure {
								float: left;
								width: 20%;
								display: flex;
								align-items: center;
								height: 40px;

								img {
									width: 100%;
								}
							}

							article {
								float: right;
								width: 75%;
								display: flex;
								align-items: center;
								height: 40px;

								p {
									font-weight: 300;
									font-size: 14px;

									span {
										font-size: 13px; 
										display: block;
										width: 100%;
										margin-bottom: 4px;
										color: green !important;
									}
								}
							}
						}
					}
				}
				li:hover > .hoversi {
					visibility: visible;
					opacity:1;
				}
			}

			@media (max-width: 775px) {
				display: none;
			}
		}
	}
	
}

footer {
	background-color: #333;
	padding: 30px 0px 0px 0px;
	background-image: url("../img/product-child.jpg");
	background-size: cover;
	background-position: center;

	.align {
		max-width: 1200px;
		margin: 0 auto;
		display: flex;
		justify-content: space-between;

		section {
			width: 100%;
			max-width: 240px;
			color: #a7a5a5;

			.footer-logo {
				width: 200px;
			}

			h2 {
				text-transform: uppercase;
				font-size: 20px;
				font-weight: 600;
			}

			ul{
				margin-top: 15px;
				li{
					font-weight: 400;
					display: block;
					font-size: 14px;
					margin-top: 10px;
					padding-right: 10px;
				}
			}
		}

		@media (max-width: 1250px) {
			max-width: 90%;
			margin: 0 auto;
			display: block;

			li {
				display: block;
				width: 100%;
				margin-top: 10px;
			}
			h2 {
				margin-top: 20px;
			}
		}

	}

	.copy {
		background-color: #202020;
		color: white;
		text-align: center;
		margin-top: 30px;
		padding: 30px 0px 30px 0px;
	}
}

// login
#login {
	background-image: url('../img/login/login.jpg');
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	height: 100vh;
	width: 100%;

	.content {
		max-width: 1300px;
		height: calc(100vh - 50px);
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: flex-end;

		@media (max-width: 900px) {
			display: block;
		}

		.form {
			background-color: white;
			box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.05);
			border-radius: 7px;
			padding: 40px;
			box-sizing: border-box;
			width: 550px;
			text-align: center;

			img {
				height: 80px;
			}

			form {
				width: 85%;
				margin: 0 auto;
				margin-top: 20px;
				color: #444444;

				label {
					span {
						display: block;
						text-align: left;
						padding: 10px 0px 10px 0px;
						font-weight: 600;
					}
					.error {
						color: red;
						font-size: 12px;
						padding: 0px;
						font-weight: 400;
						margin: -5px 0px 5px 0px;
					}
					input {
						display: block;
						padding: 10px;
						box-sizing: border-box;
						border: none;
						border: 1px solid #ddd;
						border-radius: 4px;
						width: 100%;
					}
					button {
						border:none;
						width: 100%;
						background-color: $colorPrimary;
						padding: 12px 0px 12px 0px;
						color: white;
						font-size: 16px;
						font-family: $secondaryFont;
						border-radius: 3px;
						letter-spacing: .3px; 
					}
				}

				.recuerdame {
					margin: 20px 0px 20px 0px;
					text-align: left !important;

					label {

						input {
							display: inline-block !important;
							padding: 0px;
							border: none;
							width: auto !important;
						}
						span {
							display: inline-block !important;
							text-align: left !important;
							padding: 0px;
							font-weight: 600;
						}
					}
				}

				.registrarme {
					margin-top: 20px;
					padding: 20px 0px 20px 0px;
					border-top: 1px solid #ddd;
				}
			}

			@media (max-width: 900px) {
				margin: 0 auto;
				max-width: 450px;

				.registrarme {
					a {
						display: block;
					}
				}
			}
			@media (max-width: 530px) {
				max-width: 90%;
				padding: 20px;
			}

		}

		@media (max-width: 1350px) {
			max-width: 90%;
		}

		@media (max-width: 900px) {
			display: block;
			padding-top: 10vh;
		}
	}

	@media (max-width: 900px) {
		background-color: #e8e8e8;
		background-image: none;
	}

	@media (max-width: 350px) {
		width: 100%;
	}
}
.register {
	background-image: url('../img/login/registro.jpg') !important;

	@media (max-width: 900px) {
		background-image: none !important;
	}
}
.recuperar {
	background-color: #e8e8e8;
	background-image: none !important;

	.content {
		justify-content: center !important;
	}
}


/// portada

#banner {
	overflow: hidden;
	background-image: url("../uploads/banner/bg1.jpg");
	background-position: center top ;
	background-size: cover;
	height: 80vh;
	width: 100%;

    li{
      position: relative;
      overflow: hidden;

      figure {
        display: flex;
        align-items: center;
        img {
          width: 100%;
        }
      }

      section {
		  position: absolute;
		  width: 100%;
		  height: 80vh;
		  top: 0px;
		  left: 0px;
		  display: flex;
		  align-items: center;

		 .banner-content {
			width: 100%;
			max-width: 1200px;
			margin: 0 auto;

		  .content {
			h2 {
			  color: white;
			  text-transform: uppercase;
			  font-family: $tercFont;
			  font-size: 100px;
			  font-weight: 900;
			  max-width: 500px;
			}
			p {
			  color: white;
			  text-transform: uppercase;
			  font-family: $primaryFont;
			  font-size: 20px;
			  font-weight: 900;
			  max-width: 500px;
			}

			.boton {
			  background-color: $colorPrimary;
			  padding: 10px 15px 10px 15px;
			  font-size: 18px;
			  font-family: $secondaryFont;
			  color: white;
			  display: inline-block;
			  margin-top: 20px;
			}

			.boton:hover {
			  background-color: $colorSecond;
			}
		  }
        }
      }
    }


}

// home 


.home {
	.products-index {
		width: 100%;
		overflow: hidden;

		.products {
			background-color: $colorSecond;
			background-image: url("../img/product-child1.jpg");
			background-size: cover;
			background-position: center;


			.align {
				max-width: 1300px;
				margin: 0 auto;
				padding: 40px 0px 40px 0px;
			}

			.title {
				display: flex;
				justify-content: space-between;

				h2 {
					font-family: $secondaryFont;
					font-size: 25px;
					font-style: italic;
					padding-right: 10px;
					-webkit-box-sizing: border-box;
					-moz-box-sizing: border-box;
					box-sizing: border-box;
					max-width: 100%;
					width: auto;
				}
				.i8 {
					width: 250px;
				}

				div {
					height: 1px;
					width: 100%;
					background-color: $colorPrimary;
					margin-top: 13px;
				}
			}

    		.products-ul {
				width: 100%;
				display: flex;
				flex-direction: row;
	    		flex-flow: row wrap;
				
				li {
					text-align: left;
					padding: 20px;
					box-sizing: border-box;
	   			 	flex: 1;
					flex-basis: 24%;
					max-width: 24%;
					margin: 0px .5%;
					vertical-align: top;
					margin-top: 30px;
					z-index: 99999;
					background-color: white;

					.price {
						margin: 10px 0px 0px 0px;
						color: blue;
						font-weight: 600;
						color: $colorPrimary;
						font-family: $secondaryFont;
						font-style: italic;
						font-size: 22px;
					}

					p {
						font-size: 18px;
						color: $colorSecond;
						font-weight: 600;
						margin: 20px 0px 0px 0px;
						box-sizing: border-box;
						font-family: $primaryFont;
						min-height: 40px;
					}

					figure {
						width: 80%;
						overflow: hidden;
						margin: 0 auto;
						text-align: center;
						vertical-align: bottom;
						position: relative;
						display: flex;
						justify-items: center;
						justify-content: center;

						img {
							max-height: 180px;
							max-width: 100%;
							vertical-align: bottom;
							transition:.2s;
							margin: 0 auto;
							transform: scale(0.95);
						}
						.ofert-box {
							background-color: #3cb500;
							padding: 5px 7px 5px 7px;
							border-radius: 4px;
							box-sizing:border-box;
							top: 0px;
							right: 0px;
							position: absolute;
							color: white;
							font-size: 12px;
						}
					}

					.buttons {
						display: flex;
						justify-content: space-between;

						li {
							border: 2px solid $colorSecond;
							color: $colorSecond;
							font-family: $secondaryFont;
							font-weight: 800;
							font-size: 15px;
							display: inline-block;
							max-width: 45%;
							text-align: center;
							padding: 8px;
							box-sizing: border-box;
							font-style: italic;
						}
						li:nth-child(2) {
							background-color: $colorPrimary;
							border-color: $colorPrimary;
							color: white;
						}
						li:hover {
							opacity: .8;
						}
					}



					@media (max-width: 750px) {
						flex-basis: 25%;
						max-width: 25%;
					}
					@media (max-width: 600px) {
						flex-basis: 33%;
						max-width: 33%;
					}
					@media (max-width: 460px) {
						border:none;

						figure {
							min-height: 80px;
							width: 100%;
							display: flex;
							justify-align: center;
							align-items: center;

							img {
								position: static;
								max-width: 70%;
								margin: 0 auto;
								text-align: center;
							}

							.ofert-box {
								font-size: 10px;
							}
						}
						p {
							font-size: 12px;
						}
						.price {
							font-size: 13px;
							margin: 5px 0px 5px 0px; 
						}
					}
					@media (max-width: 380px) {
						flex-basis: 50%;
						max-width: 50%;
					}
				}
				li:hover > a figure img {
					transform: scale(1.00);
					transition:.3s;
				}
				li:hover > .buttons {
					visibility: visible;
				}
				li:hover {
					-webkit-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.19);
					-moz-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.19);
					box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.19);
				}

			}
		}
		.products:nth-child(even) {
			background-color: $colorSecond;
			background-image: url("../img/product-child.jpg");
			background-size: cover;
			background-position: center;

			h2 {
				color: white !important;
			}

			.products-ul {
				li {
					.buttons {
						visibility: visible;
					}
				}
			}
		}

		@media screen and (max-width: 1350px) {
			.products {
				float: none;
				max-width: 90%;
				margin: 0 auto;
			}
		}



	}


	.app-banner {
		background-color: #007dcb;
		height: 40px;
		margin: 50px 0px 0px 0px;
		padding: 10px 0px 10px 0px;
		width: 100% !important;


		p {
			color: white;
			text-align: center;
			line-height: 40px;
			font-weight: 300;
			font-size: 22px;

			i {
				position: relative;
				font-size: 34px;
				line-height: normal;
				top: 3px;
				padding-right: 5px;

			}

			@media (max-width: 860px) {
				font-size: 3vw;
			}
		}
	}

	.categorias {
		max-width: 1300px;
		margin: 0 auto;
		padding: 60px 0px 60px 0px;


		h2 {
			text-align: center;
			font-size: 27px;
			font-weight: 300;
			color: #383838;
		}

		ul {
			display: flex;
			margin-top: 40px;
			flex-direction: row;
	    	flex-flow: row wrap;

			li {
				width: 100%;
				text-align: center;
				padding: 40px 0px 40px 0px;
   			 	flex: 1;
				flex-basis: 20%;
				max-width: 20%;

				figure {
					width: 60%;
					margin: 0 auto;
					text-align: center;
					height: 140px;
					display: flex;
					align-items: center;

					img {
						max-width: 100%;
						max-height: 100%;
  						transition: .2s;
					}
				}

				h3 {
					color: #383838;
					font-weight: 600;
					margin-top: 30px;
				}

				@media (max-width: 1000px) {
					flex-basis: 33.3%;
					max-width: 33.3%;
				}
				@media (max-width: 600px) {
					flex-basis: 50%;
					max-width: 50%;
				}
			}
			
			li:hover > figure img{
  				transform: scale(1.1);
  				transition: .3s;
			}

			li:nth-child(odd) {
				background-color: #f9f9f9;
			}

			@media (max-width: 600px) {
				li:nth-child(1) {
					background-color: #fff;
				}
				li:nth-child(2) {
					background-color: #f9f9f9;
				}
				li:nth-child(3) {
					background-color: #f9f9f9;
				}
				li:nth-child(4) {
					background-color: #fff;
				}
				li:nth-child(5) {
					background-color: #fff;
				}
				li:nth-child(6) {
					background-color: #f9f9f9;
				}
				li:nth-child(7) {
					background-color: #f9f9f9;
				}
				li:nth-child(8) {
					background-color: #fff;
				}
				li:nth-child(9) {
					background-color: #fff;
				}
			}
		}

		
	}

	#tv-section {
		overflow: hidden;
		padding: 50px 0px 50px 0px;
		background-image: url('../img/tv-section.jpg');
		background-size: cover;
		background-position: center;
		background-attachment: fixed;

		#content {
			max-width: 1300px;
			margin: 0 auto;

			.bar {
				height: 2px;
				width: 60px;
				background-color: #007dcb;
			}

			h2 {
				color: #090909;
				font-weight: 300;
				font-size: 24px;
				margin-top: 20px;

				b {
					font-weight: 700
				}
			}

			ul {
				width: 70%;
				margin-top: 20px;
				li {
					width: 45%;
					padding: 30px;
					box-sizing: border-box;
					background-color: white;
					overflow: hidden;
					display: inline-block;
					margin-right: 16px;
					margin-top: 16px;
					vertical-align: top;
					min-height: 194px;


					@media (max-width: 1100px) { 
						width: 50%;
						margin: 0px;
						margin-left: -4px;

					}
					@media (max-width: 880px) { 
						width: 100%;
						margin: 0px;
						margin-left: 0px;
						margin-top: 10px;
						margin-right: 0px;

					}

					figure {
						width: 43%;
						float: left;
						overflow: hidden;
						position: relative;


						img {
							width: 100%;
							transition:.3s;
						}

						.ofert-box {
							background-color: #3cb500;
							padding: 5px 7px 5px 7px;
							border-radius: 4px;
							box-sizing:border-box;
							top: 0px;
							right: 0px;
							position: absolute;
							color: white;
							font-size: 12px;
						}

						@media (max-width: 470px) {
							float: none;
							width: 100%;
						}
					}

					article {
						width: 52%;
						float: right;
						padding-top: 18px;

						h3 {
							color: #007dcb;
							font-size: 20px;
							font-weight: 600;
						}

						p {
							font-weight: 300;
							font-size: 15.5px;
							margin-top: 10px;
							color: #626060;
							height: 35px;
						}

						.btn {
							display: block;
							border:2px solid #007dcb;
							border-radius: 20px;
							color: #007dcb;
							font-size: 15px;
							font-weight: 300;
							padding: 7px 10px 7px 10px;
							box-sizing: border-box;
							text-align: center;
							margin-top: 10px;
							transition:.2s; 

							i {
								margin-right: 5px;
							}

							@media (max-width: 542px) {
								font-size: 12px;
							}
						}
						.btn:hover {
							background-color: #007dcb;
							transition:.3s; 
							color: white;
						}

						@media (max-width: 470px) {
							float: none;
							width: 100%;
							text-align: center;

							.btn {
								margin: 0 auto;
							}
						}
					}
				}
				li:hover > figure a img {
					transform: scale(1.08);
					transition:.3s;
				}

				@media (max-width: 1350px) { 
					width: 80%;
					margin: 0 auto;
				}
				@media (max-width: 1100px) { 
					width: 100%;
					margin: 0 auto;
				}
			}

			@media (max-width: 1350px) {
				max-width: 90%;
				margin: 0 auto;
			}
		}
	}

	#desktop-section {
		padding: 50px 0px 0px 0px;
		max-width: 1300px;
		margin: 0 auto;

		h2 {
			color: #090909;
			font-weight: 300;
			font-size: 24px;

			b {
				font-weight: 700
			}
		}

		hr {
			height: 1px;
			border:none;
			background-color: #eee;
			width: 100%;
			margin: 15px 0px 35px 0px;
		}
		
		ul {
			display: flex;
			justify-content: left;

			@media (max-width: 1350px) {
				justify-content: none;
				flex-direction: row;
		    	flex-flow: row wrap;
			}

			li {
				text-align: center;
				padding: 0px 5px;
				box-sizing: border-box;
				width: 100%;
				max-width: 20%;
				vertical-align: top;
				border-left: 1px solid #f1f1f1;

				@media (max-width: 1350px) {
	   			 	flex: 1;
					flex-basis: 20%;
					max-width: 20%;

					@media (max-width: 790px) {
						flex-basis: 33.3%;
						max-width: 33.3%;
						margin-top: 16px;
					}
					@media (max-width: 420px) {
						flex-basis: 50%;
						max-width: 50%;
					}
					@media (max-width: 280px) {
						flex-basis: 100%;
						max-width: 100%;
					}
				}

				.price {
					margin: 15px 0px 10px 0px;
					color: blue;
					font-weight: 600;
					color: #0080c8 !important;
				}

				p {
					font-size: 14.3px;
					color: #676565;
					font-weight: 300;
					padding: 0px 5px 0px 5px;
					box-sizing: border-box;
					width: 90%;
					margin: 0 auto;
				}

				figure {
					width: 80%;
					min-height: 140px;
					overflow: hidden;
					margin: 0 auto;
					text-align: center;
					vertical-align: bottom;
					position: relative;

					img {
						width: 100%;
						vertical-align: middle;
						position: absolute;
						bottom: 0px;
						left: 0px;
						transition:.2s;
					}
					.ofert-box {
						background-color: #3cb500;
						padding: 5px 7px 5px 7px;
						border-radius: 4px;
						box-sizing:border-box;
						top: 0px;
						right: 0px;
						position: absolute;
						color: white;
						font-size: 12px;
					}
				}
			}
			li:hover > a figure img {
				transform: scale(1.08);
				transition:.3s;
			}
			li:nth-child(1) {
				border-left: 0px;
			}
		}

		@media (max-width: 1350px) {
			max-width: 90%;
		}

	}

	#brands-section {
		max-width: 1300px;
		margin: 0 auto;
		padding: 50px 0px 50px 0px;

		.slick-brands {
			border:2px solid #ebebeb;
			border-radius: 3px;
			padding: 40px 20px 0px 20px;
			box-sizing: border-box;

			li {
				width: 10%;
				display: inline-block;
				vertical-align: middle;

				figure 	{
					max-width: 162px;
					height: 83px;
					overflow: hidden;
					display: flex;
					align-items: center;
					justify-content: center;

					img {
						width: 80%;
						filter: grayscale(100%);
						opacity: .4;
					}
						img:hover {
							filter: grayscale(0%);
					}
				}

				
			}
		}
		@media (max-width: 1350px) {
			max-width: 90%;
		}
	}
}

// view product
#view-product {
	max-width: 1300px;
	margin: 0 auto;
	padding: 20px 0px 20px 0px;
	overflow: hidden;

	#navigate {
		width: 100%;
		text-align: left;
		margin-bottom: 20px;

		li {
			display: inline-block;
			padding: 10px 0px 10px 0px;
			box-sizing: border-box;
			border-radius: 5px;
			color: #5f5f5f;
			font-weight: 300;
			font-size: 15px;
		}

		.cat {
			background-color: #f5f5f5;
			padding: 10px 15px 10px 15px;
		}

		i {
			display: inline-block;
			padding: 0px 10px 0px 10px;
			color: #5f5f5f;
		}

		@media (max-width: 775px) {
			text-align: center;
		}
		@media (max-width: 450px) {
			li {font-size: 8px;}
		}
	}

	#picture {
		width: 51%;
		float: left;
		position: relative;
		box-sizing: border-box;

		img {
			width: 100%;
		}

		.ofert-box {
			background-color: #3cb500;
			padding: 7px 10px 7px 10px;
			border-radius: 4px;
			box-sizing:border-box;
			top: 0px;
			right: 0px;
			position: absolute;
			color: white;
			font-size: 13px;
		}

		figure {
			position: absolute;
			top: 0px;
			left: 0px;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			border:1px solid #ddd;
			box-sizing: border-box;
			width: 100px;
			height: 100px;
			display: none;

			img {
				width: 100%;
			}
		}

		@media (max-width: 775px) {
			float: none;
			width: 100%
		}
	}

	article {
		width: 45%;
		float: right;

		h4 {
			font-family: $primaryFont;
			font-size: 20px;
			font-weight: 300;
			margin-bottom: 10px;
			color: #aaa;
		}

		h2 {
			color: #444444;
			font-size: 50px;
			font-family: $primaryFont;
			text-transform: uppercase;
			font-weight: 900;
			font-style: italic;

			form {
				display: inline-block;
				text-align: right;
				float: right;
				margin: 0px;

				button {
					background-color: transparent !important;
					color: black !important;
					display: inline-block;
					width: auto;
					padding: 0px;
					cursor: pointer;

					i {
						font-size: 22px;
					}
				}
			}

			a { 
				text-align: right;
				float: right;
			}

			@media (max-width: 385px) {
				font-size: 17px;
			}
		}


		hr {
			height: 1px;
			border:none;
			background-color: #f1f1f1;
			margin: 20px 0px 20px 0px;
		}

		.with-ofert {
			font-size: 18px;
			text-decoration: line-through;
			color: #b8b8b8;
			font-weight: 300;
			margin-bottom: 5px;
		}

		.price {
			margin: 10px 0px 0px 0px;
			color: blue;
			font-weight: 600;
			color: $colorPrimary;
			font-family: $secondaryFont;
			font-style: italic;
			font-size: 40px;
		}

		img {
			height: 45px;
		}

		form {
			margin-top: 30px;

			label {
				display: inline-block;

				span {
					display: block;
					color: #888;
					font-weight: 300;
					font-size: 16px;
				}
				input {
					display: block;
					max-width: 60px;
					border:none;
					border:1px solid #ddd;
					border-radius: 3px;
					padding: 10px;
					box-sizing: border-box;
					margin-top: 10px;
					font-size: 18px;
				}
			}

			.addcart {
				font-family: $secondaryFont;
				font-weight: 800;
				font-size: 18px;
				display: inline-block;
				max-width: 45%;
				text-align: center;
				padding: 8px;
				box-sizing: border-box;
				font-style: italic;
				background-color: $colorPrimary;
				border-color: $colorPrimary;
				color: white;
			}
			.deseos {
				display: inline-block;
				background-color: #0073d1;
				border:none;
				border-radius: 3px;
				color: white;
				font-size: 15px;
				padding: 12.5px 18px 12.5px 18px;
			}
			button:hover {
				opacity: .8;
			}
		}

		@media (max-width: 775px) {
			float: none;
			width: 100%
		}

	}

	.description {
		line-height: 22px;
		font-size: 14px;
		opacity: .6;
	}

	@media (max-width: 1350px) {
		max-width: 90%;
	}

}

#category {
	max-width: 1300px;
	margin: 0 auto;
	padding: 60px 0px 60px 0px;
	overflow: hidden;

	@media (max-width: 1350px) {
		max-width: 90%;
	}

	aside {
		float: left;
		width: 23%;

		@media(max-width: 1000px) {
			width: 250px;
			position: absolute;
			z-index: 99999;
			background-color: white;
			padding: 10px 30px 30px 30px;
			box-sizing: border-box;
			box-shadow: 0px 0px 18px 3px rgba(0,0,0,0.04);
			display: none;

			
		}

		i {
			color: #0080c8;
		}

		.categories {
			border:2px solid #ececec;
			border-radius: 6px;

			h2 {
				color: #777;
				padding-bottom: 15px;
				border-bottom: 1px solid #eee;
				padding:20px;
				box-sizing:border-box;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 14px;
				text-align: center;
				width: 100%;

			}

			div {
				padding: 20px;
				box-sizing: border-box;
			}

			li{
				padding: 15px 0px 15px 0px;
				box-sizing: border-box;
				color: #777;
				font-weight: 400;
				border-top: 1px solid #eee;

				a{
					color: #777;
					font-weight: 300;
				}
			}
			li:nth-child(1) {
				border-top: 0px;
				padding-top: 0px;
			}

			@media(max-width: 1000px) {
				display: none;
			}
		}

		h3 {
			color: #777;
			padding-bottom: 15px;
			border-bottom: 1px solid #eee;
			padding:20px 20px 20px 0px;
			box-sizing:border-box;
			text-transform: uppercase;
			letter-spacing: 2px;
			font-size: 16px;
			text-align: left;
			margin-bottom: 20px;
			margin-top: 10px;
			font-weight: 300;
		}

		#filter {
			form {
				.boton-redondeado {
					margin-top: 10px;

					i {
						margin-left: 10px;
					}
				}
				.boton-redondeado:hover {
					i {
						color: white;
					}
				}

				span {
					font-size: 15px;
					color: #777;
					font-weight: 300;
				}
				
				.inp {
					display: flex;
					justify-align: space-between;
					margin-top: 10px;


					input {
						border: none;
						border:1px solid #ddd;
						border-radius: 6px;
						width: 100%;
						padding: 10px;
						box-sizing: border-box;
						font-size: 17px;
						text-align: center;
					}

					.b {
						height: 1px;
						width: 40px;
						background-color: #ddd;
						margin-top: 22px;
					}
				}
			}
		}

		#latest-products {

			@media(max-width: 1000px) {
				display: none;
			}

			.products {

	    		li {
	    			overflow: hidden;
	    			width: 100%;
	    			border-top: 1px solid #ddd;
	    			padding-top: 20px;

	    			.data {
						box-sizing: border-box;
						vertical-align: top;
						float: right;
						width: 46%;

						.price {
							margin: 15px 0px 10px 0px;
							color: blue;
							font-weight: 600;
							color: #0080c8 !important;
						}

						p {
							font-size: 14.3px;
							color: #676565;
							font-weight: 300;
							box-sizing: border-box;
						}
	    			}
					
					figure {
						width: 48%;
						float: left;
						height: 115px;
						overflow: hidden;
						text-align: center;
						display: flex;
						align-items: center;
						padding: 10px;
						box-sizing:border-box;
						position: relative;

						img {
							width: 100%;
							transition:.2s;
						}
						.ofert-box {
							background-color: #3cb500;
							padding: 5px 7px 5px 7px;
							border-radius: 4px;
							box-sizing:border-box;
							top: 0px;
							right: 0px;
							position: absolute;
							color: white;
							font-size: 12px;
						}
					}
				}
				li:hover > a figure img {
					transform: scale(1.08);
					transition:.3s;
				}
				li:nth-child(1) {
					border:none;
					padding-top: 0px;
				}
			}
		}
	}

	.container {
		float: right;
		width: 75%;

		@media (max-width: 1000px) {
			width: 100%;
			float: none;
		}

		#publicity {
			border:2px solid #ececec;
			border-radius: 6px;
			background-image: url('../img/pub.jpg');
			background-size: cover;
			background-position: center;
			overflow: hidden;

			@media (max-width: 1000px) {
				display: none;
			}

			article {
				float: left;
				width: 70%;
				padding: 40px;
				box-sizing: border-box;

				h2 {
					font-size: 18px;
					color: #4c4c4c;
				}
				p {
					font-size: 12px;
					color: #777;
					line-height: 18px;
					margin-top: 15px;
				}
				.boton-redondeado {
					margin-top: 20px;

					i {
						margin-left: 5px;
					}
				}
			}
		}

		.title-category {
			font-size: 25px;
			font-weight: 300;
			padding: 20px 0px 20px 0px;
			border-bottom: 1px solid #eee;
			font-family: $secondaryFont !important;
			font-style: italic;

			img {
				height: 60px;
				margin: 0 auto;
				text-align: center;
			}
			.b-filtros {
				display: none;
				float: right;
				text-align: center; 

				@media (max-width: 1000px) {
					display: block;
				}
			}
		}

		.products {
			width: 100%;
			overflow: hidden;

			.products {
				.align {
					max-width: 1300px;
					margin: 0 auto;
					padding: 10px 0px 10px 0px;
				}

				.title {
					display: flex;
					justify-content: space-between;

					h2 {
						font-family: $secondaryFont;
						font-size: 25px;
						font-style: italic;
						padding-right: 10px;
						-webkit-box-sizing: border-box;
						-moz-box-sizing: border-box;
						box-sizing: border-box;
						max-width: 100%;
						width: auto;
					}
					.i8 {
						width: 250px;
					}

					div {
						height: 1px;
						width: 100%;
						background-color: $colorPrimary;
						margin-top: 13px;
					}
				}

				.products-ul {
					width: 100%;
					display: flex;
					flex-direction: row;
					flex-flow: row wrap;

					li {
						text-align: left;
						padding: 20px;
						box-sizing: border-box;
						flex: 1;
						flex-basis: 24%;
						max-width: 24%;
						margin: 0px .5%;
						vertical-align: top;
						margin-top: 30px;
						z-index: 99999;
						background-color: white;

						.price {
							margin: 10px 0px 0px 0px;
							color: blue;
							font-weight: 600;
							color: $colorPrimary;
							font-family: $secondaryFont;
							font-style: italic;
							font-size: 22px;
						}

						p {
							font-size: 18px;
							color: $colorSecond;
							font-weight: 600;
							margin: 20px 0px 0px 0px;
							box-sizing: border-box;
							font-family: $primaryFont;
							min-height: 40px;
						}

						figure {
							width: 80%;
							overflow: hidden;
							margin: 0 auto;
							text-align: center;
							vertical-align: bottom;
							position: relative;
							display: flex;
							justify-items: center;
							justify-content: center;

							img {
								max-height: 180px;
								max-width: 100%;
								vertical-align: bottom;
								transition:.2s;
								margin: 0 auto;
								transform: scale(0.95);
							}
							.ofert-box {
								background-color: #3cb500;
								padding: 5px 7px 5px 7px;
								border-radius: 4px;
								box-sizing:border-box;
								top: 0px;
								right: 0px;
								position: absolute;
								color: white;
								font-size: 12px;
							}
						}

						.buttons {
							display: flex;
							justify-content: space-between;

							li {
								border: 2px solid $colorSecond;
								color: $colorSecond;
								font-family: $secondaryFont;
								font-weight: 800;
								font-size: 15px;
								display: inline-block;
								max-width: 45%;
								text-align: center;
								padding: 8px;
								box-sizing: border-box;
								font-style: italic;
							}
							li:nth-child(2) {
								background-color: $colorPrimary;
								border-color: $colorPrimary;
								color: white;
							}
							li:hover {
								opacity: .8;
							}
						}



						@media (max-width: 750px) {
							flex-basis: 25%;
							max-width: 25%;
						}
						@media (max-width: 600px) {
							flex-basis: 33%;
							max-width: 33%;
						}
						@media (max-width: 460px) {
							border:none;

							figure {
								min-height: 80px;
								width: 100%;
								display: flex;
								justify-align: center;
								align-items: center;

								img {
									position: static;
									max-width: 70%;
									margin: 0 auto;
									text-align: center;
								}

								.ofert-box {
									font-size: 10px;
								}
							}
							p {
								font-size: 12px;
							}
							.price {
								font-size: 13px;
								margin: 5px 0px 5px 0px;
							}
						}
						@media (max-width: 380px) {
							flex-basis: 50%;
							max-width: 50%;
						}
					}
					li:hover > a figure img {
						transform: scale(1.00);
						transition:.3s;
					}
					li:hover > .buttons {
						visibility: visible;
					}
					li:hover {
						-webkit-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.19);
						-moz-box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.19);
						box-shadow: 0px 0px 25px -4px rgba(0,0,0,0.19);
					}

				}
			}

			@media screen and (max-width: 1350px) {
				.products {
					float: none;
					max-width: 90%;
					margin: 0 auto;
				}
			}



		}
	}
}


#profile {
	max-width: 1300px;
	margin: 0 auto;
	padding: 60px 0px 60px 0px;
	overflow: hidden;

	aside {
		float: left;
		width: 23%;

		i {
			color: #0080c8;
		}

		.options {
			border:2px solid #ececec;
			border-radius: 6px;

			h2 {
				color: #777;
				padding-bottom: 15px;
				border-bottom: 1px solid #eee;
				padding:20px;
				box-sizing:border-box;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-size: 14px;
				text-align: center;
			}

			div {
				padding: 20px;
				box-sizing: border-box;
			}

			li{
				padding: 15px 0px 15px 0px;
				box-sizing: border-box;
				color: #777;
				font-weight: 400;
				border-top: 1px solid #eee;

				a{
					color: #777;
					font-weight: 300;
				}
			}
			li:nth-child(1) {
				border-top: 0px;
				padding-top: 0px;
			}

		}

		@media (max-width: 800px) {
			float: none;
			width: 100%;
		}
	}

	.container {
		float: right;
		width: 75%;

		#publicity {
			border:2px solid #ececec;
			border-radius: 6px;
			background-image: url('../img/pub.jpg');
			background-size: cover;
			background-position: right;
			overflow: hidden;

			article {
				float: left;
				width: 70%;
				padding: 40px;
				box-sizing: border-box;

				h2 {
					font-size: 18px;
					color: #4c4c4c;
				}
				p {
					font-size: 12px;
					color: #777;
					line-height: 18px;
					margin-top: 15px;
				}
				.boton-redondeado {
					margin-top: 20px;

					i {
						margin-left: 5px;
					}
				}
			}
		}

		@media (max-width: 1000px) {
			#publicity {display: none}
		}

		.title-profile {
			font-size: 25px;
			font-weight: 300;
			padding: 20px 0px 20px 0px;
			color: #444;
			border-bottom: 1px solid #eee;
		}

		#profile-data {
			overflow: hidden;
			margin-top: 30px;

			figure {
				float: left;
				width: 30%;
				height: 280px;

				img { 
					width: 100%;
				}

				@media (max-width: 515px) {
					float: none;
					width: 100%;
					height: auto;
					margin-bottom: 20px;
				}
			}


			section {
				width: 67%;
				float: right;
				border:2px solid #ececec;
				border-radius: 6px;
				box-sizing:border-box;

				h2 {
					color: #777;
					padding-bottom: 15px;
					border-bottom: 1px solid #eee;
					padding:20px;
					box-sizing:border-box;
					text-transform: uppercase;
					letter-spacing: 2px;
					font-size: 14px;
					text-align: left;
				}

				ul {
					padding: 20px;
					box-sizing: border-box;

					li {
						padding: 10px 0px 10px 0px;
						color: #777;
						font-weight: 300;
						border-top: 1px solid #eee;
						font-size: 15px;

						span {
							font-weight: 400;
							font-size: 15px;
						}
					}

					li:nth-child(1) {
						border: none;
						padding-top: 0px;
					}

					.boton-redondeado {
						margin-top: 17px;
					}

					.edit {
						input {
							border:none;
							font-weight: 300;
							font-size: 15px;
							color: #777;
						}
					}
				}

				@media (max-width: 515px) {
					float: none;
					width: 100%;
				}
			}
		}

		@media (max-width: 800px) {
			float: none;
			width: 100%;
		}

	}

	@media (max-width: 1350px) {
		max-width: 90%;
	}
}

#wishes {
	max-width: 1300px;

	@media (max-width: 1350px) {
		max-width: 90%;
	}

	margin: 0 auto;
	padding: 60px 0px 60px 0px;

	h1 {
		font-size: 40px;
		text-align: center;
		font-weight: 700;
	}

	.sub {
		text-align: center;
		margin-top: 10px;
		color: green;
	}

	// tablas de muestra
	.tg  {
		border-collapse:collapse;
		border-spacing:0;
		width: 100%;
		margin-top: 30px;
		border-bottom: 1px solid #ddd;

		@media (max-width: 630px) {
			.stock-tab {
				display: none;
			}
		}

		

	}
	.tg td {
		font-size:14px;
		padding:10px 5px;
		border-style:solid;
		overflow:hidden;
		word-break:normal;
		color:#444; 
		padding-left: 10px; 
		box-sizing: border-box; 
		line-height: 25px;

		.precio {
			font-weight: 600;
			font-size: 16px;
		}

		.ofertProductSquare {
			vertical-align: top;
			position: relative;
			display: inline-block;
			height: 17px;
			line-height: 17px;
			padding: 0px;
			padding: 0px 8px 0px 8px;
			margin-left: 3px;
			font-family: $primaryFont !important;

			@media (max-width: 465px) {
				font-size: 7px;
				height: 10px;
				line-height: 10px;
				padding: 0px 3px 0px 3px;
			}
		}
		.no-stock {
			font-weight: 600;
			font-size: 14px;
			color: #00c01e;
		}
		.stock {
			font-weight: 600;
			font-size: 14px;
			color: #00c01e;
		}


		@media (max-width: 630px) {
			font-size: 10px;
			.precio { 
				font-size: 12px;
			}
		}
		@media (max-width: 446px) {
			line-height: normal; 

			.imagen {
				width: 20px !important;
			}
		}
	}

	

	.tg td figure {

		height: 40px; 
		width: 40px; 
		overflow: hidden;

		@media (max-width: 465px) {
			height: 20px;
			width: 20px;
			margin-top: 5px;
		}
	}

	.tg .imagen {
		width: 80px;

		@media (max-width: 446px) {
			width: 20px !important;
		}
	}

	

	.tg td figure img {width: 100%;}
	.tg th {
		font-size:15px;
		font-weight:normal;
		padding:10px 5px;
		overflow:hidden;
		word-break:normal;
		border-bottom:1px solid #ddd; 
		text-align: left; 
		padding-left: 10px; 
		box-sizing: border-box;
		color: #777;
		font-weight: 300;
	}
	.tg .tg-us36{vertical-align:top}
	.tg .edit, .tg .delete {
		font-size: 18px;
		height: 25px;
		width: 25px;
		line-height: 25px;
	}
	.tg .edit {color: green; }
	.tg .b {color: #ddd; margin-left: 5px; background-color: transparent; border:none; cursor: pointer }

	.carrito-total {
		font-weight: 300;
		margin-top: 20px;
		text-align: left;
		border-top: 1px solid #ddd;
		padding-top: 20px;

		b {
			font-weight: 600;
			font-size: 17px;
		}

		span {
			display: block;
			margin-bottom: 10px;
			color: #00cc5e;
			font-weight: 600;
		}
	}

	.form-cupon {
		margin-top: 20px;
		overflow: hidden;
		max-width: 280px;

		span {
			display: block;
			font-weight: 300;
		}
		input {
			padding: 10px;
			box-sizing: border-box;
			display: block;
			border-radius: 4px;
			border:none;
			border:1px solid #ddd;
			margin: 10px 0px 10px 0px;
			float: left;
		}
		button {
			float: right;
			margin-top: 10px;
		}
	}
}

.sk-circle {
  margin: 100px auto;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
}
.sk-circle .sk-child {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}
.sk-circle .sk-child:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: #0080c8;
  border-radius: 100%;
  -webkit-animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
          animation: sk-circleBounceDelay 1.2s infinite ease-in-out both;
}
.sk-circle .sk-circle2 {
  -webkit-transform: rotate(30deg);
      -ms-transform: rotate(30deg);
          transform: rotate(30deg); }
.sk-circle .sk-circle3 {
  -webkit-transform: rotate(60deg);
      -ms-transform: rotate(60deg);
          transform: rotate(60deg); }
.sk-circle .sk-circle4 {
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg); }
.sk-circle .sk-circle5 {
  -webkit-transform: rotate(120deg);
      -ms-transform: rotate(120deg);
          transform: rotate(120deg); }
.sk-circle .sk-circle6 {
  -webkit-transform: rotate(150deg);
      -ms-transform: rotate(150deg);
          transform: rotate(150deg); }
.sk-circle .sk-circle7 {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg); }
.sk-circle .sk-circle8 {
  -webkit-transform: rotate(210deg);
      -ms-transform: rotate(210deg);
          transform: rotate(210deg); }
.sk-circle .sk-circle9 {
  -webkit-transform: rotate(240deg);
      -ms-transform: rotate(240deg);
          transform: rotate(240deg); }
.sk-circle .sk-circle10 {
  -webkit-transform: rotate(270deg);
      -ms-transform: rotate(270deg);
          transform: rotate(270deg); }
.sk-circle .sk-circle11 {
  -webkit-transform: rotate(300deg);
      -ms-transform: rotate(300deg);
          transform: rotate(300deg); }
.sk-circle .sk-circle12 {
  -webkit-transform: rotate(330deg);
      -ms-transform: rotate(330deg);
          transform: rotate(330deg); }
.sk-circle .sk-circle2:before {
  -webkit-animation-delay: -1.1s;
          animation-delay: -1.1s; }
.sk-circle .sk-circle3:before {
  -webkit-animation-delay: -1s;
          animation-delay: -1s; }
.sk-circle .sk-circle4:before {
  -webkit-animation-delay: -0.9s;
          animation-delay: -0.9s; }
.sk-circle .sk-circle5:before {
  -webkit-animation-delay: -0.8s;
          animation-delay: -0.8s; }
.sk-circle .sk-circle6:before {
  -webkit-animation-delay: -0.7s;
          animation-delay: -0.7s; }
.sk-circle .sk-circle7:before {
  -webkit-animation-delay: -0.6s;
          animation-delay: -0.6s; }
.sk-circle .sk-circle8:before {
  -webkit-animation-delay: -0.5s;
          animation-delay: -0.5s; }
.sk-circle .sk-circle9:before {
  -webkit-animation-delay: -0.4s;
          animation-delay: -0.4s; }
.sk-circle .sk-circle10:before {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s; }
.sk-circle .sk-circle11:before {
  -webkit-animation-delay: -0.2s;
          animation-delay: -0.2s; }
.sk-circle .sk-circle12:before {
  -webkit-animation-delay: -0.1s;
          animation-delay: -0.1s; }

@-webkit-keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes sk-circleBounceDelay {
  0%, 80%, 100% {
    -webkit-transform: scale(0);
            transform: scale(0);
  } 40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

